*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* we will not do !important bad idea */

/* Editor.js Customizations */
/* Hide the default plus button and drag handle/settings button */
/* We do NOT hide .ce-toolbar__actions entirely because it contains the toolbox popover */
/* from editor.js doc */
.ce-toolbar__plus {
  display: none !important;
}

.ce-toolbar__settings-btn {
  display: flex !important;
}

.ce-popover {
  z-index: 10001 !important;
  pointer-events: auto !important;
}



.ce-inline-toolbar--showed {
  visibility: visible !important;
  opacity: 1 !important;
  pointer-events: auto !important;
}

.editor-container.hand-mode {
  pointer-events: none;
  user-select: none;
}

.codex-editor__redactor {
  padding-bottom: 300px !important;
}

.ce-inline-toolbar__toggler-and-button-wrapper {
  padding-right: 0 !important;
}

.ce-inline-tool:hover {
  background-color: #f1f5f9 !important;
  color: #000 !important;
}

.ce-inline-tool--active {
  color: #0070f3 !important;
  background-color: #e0f2fe !important;
}

.editor-container {
  position: relative;
}

/* 
  Override default Editor.js delimiter style.
  The default delimiter tool uses '***' in a ::before element.
  We want to ensure this doesn't show up, as we are using a custom HR divider.
*/
.ce-delimiter:before {
  content: "" !important;
  display: none !important;
}

/* 
  Custom styling for Image Tool to match Media Tool UI
*/
.image-tool {
  padding: 15px !important;
  border: 1px solid #f0f0f0 !important;
  border-radius: 10px !important;
}

.image-tool__caption {
  position: relative !important;
  border: none;
  border-left: 2px solid rgb(0, 112, 243);
  box-shadow: none;
  border-radius: 0;
  margin-bottom: 0 !important;
}

.image-tool__caption[data-placeholder]:empty:before {
  color: #707684;
}